<div class="flex flex-wrap justify-around"
     id="skeleton-container-div">
  <mat-card class="m-4 elevation-4 w-64 skeleton-card"
            id="skeleton-card">
    <mat-card-header>
      <mat-card-title class="skeleton-title skeleton-animation"
                      id="skeleton-card-title"></mat-card-title>
      <!-- TODO: Use Star Rating -->
      <mat-card-subtitle class="skeleton-subtitle skeleton-animation"
                         id="skeleton-card-subtitle"></mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div class="flex items-center justify-between">
        <p class="m-0 skeleton-start-date skeleton-animation"
           id="skeleton-start-p"></p>
        <p class="m-0 skeleton-amount skeleton-animation"
           id="skeleton-amount-p"></p>
      </div>
    </mat-card-content>
  </mat-card>
</div>
