<div class="flex flex-col">
  <div class="flex justify-center py-4 bg-blue-300">
    <button class="p-4 bg-green-700 text-white rounded-md shadow-md"
      type="button"
      (click)="fetchData()">
      Fetch Data
    </button>
    <button class="p-4 bg-green-700 text-white rounded-md shadow-md"
      type="button"
      (click)="pingServer()">
      Ping Server
    </button>
  </div>

  <!-- <ng-container *ngIf="showData">
    <div class="grid grid-cols-2 justify-center">
      <div class="bg-red-300">
        <p class="py-4 bg-red-700 text-white font-mono text-center">Person</p>
        <pre class="whitespace-pre-wrap">{{ person$ | async | json }}</pre>
      </div>
      <div class="bg-yellow-200">
        <p class="py-4 bg-yellow-700 text-white font-mono text-center">
          People
        </p>
        <pre class="whitespace-pre-wrap">{{ people$ | async | json }}</pre>
      </div>
    </div>
  </ng-container> -->

  <ng-container *ngIf="showPing">
    <div class="grid justify-center">
      <div class="bg-blue-500">
        <p class="py-4 bg-red-700 text-white font-mono text-center">Ping</p>
        <pre class="whitespace-pre-wrap">{{ ping$ | async | json }}</pre>
      </div>
    </div>
  </ng-container>
</div>
