<div class="container h-full mx-auto p-4">
  <ng-container *ngIf="!flags.shell.progress">

    <ng-container *ngIf="flags.shell.success">
      <ng-container *ngIf="!!data.trips.length; else noTrips">

        <!-- TODO: Implement a nice and creative design -->
        <div class="grid grid-rows-1 sm:grid-cols-2 xl:grid-cols-4 w-full"
             [@fadeIn]>
          <mat-card *ngFor="let trip of data.trips"
                    class="m-4 elevation-4">
            <mat-card-header>
              <mat-card-title>{{ trip.title }}</mat-card-title>
              <!-- TODO: Use Star Rating -->
              <mat-card-subtitle>{{ trip.rating }}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <div class="flex items-center justify-between">
                <p class="m-0">
                  {{ trip.tenure.start | date:'MMM, YYYY' }}
                </p>
                <p class="m-0">{{ trip.expense.amount | currency:trip.expense.currency }}</p>
              </div>
            </mat-card-content>
          </mat-card>
        </div>

      </ng-container>

      <ng-template #noTrips>
        <div class="grid place-content-center w-full h-full">
          <!-- TODO: Make it free of loose strings -->
          <p class="font-medium">No Trips Yet</p>
        </div>
      </ng-template>
    </ng-container>

    <ng-container *ngIf="flags.shell.fail">
      <!-- TODO: Implement Error Component -->
      <div class="grid place-content-center w-full h-full">
        <p class="font-medium">{{ error.message }}</p>
      </div>
    </ng-container>

  </ng-container>

  <ng-container *ngIf="flags.shell.progress">
    <ia-trip-list-skeleton></ia-trip-list-skeleton>
  </ng-container>
</div>
