<mat-sidenav-container class="h-100">
  <mat-sidenav>
    <app-ia-core-sidenav-container (toggleSidenav$)="closeSidenav()">
    </app-ia-core-sidenav-container>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="ia-core-shell-container">
      <div class="ia-core-navbar-holder">
        <app-ia-core-navbar-container (toggleSidenav$)="openSidenav()">
        </app-ia-core-navbar-container>
      </div>
      <div class="ia-core-holder">
        <router-outlet></router-outlet>
        <button mat-button
                color="primary"
                (click)="gotoMock()">Go to Mock</button>
      </div>
      <div class="ma-footer-holder">
        <app-ia-core-footer-container></app-ia-core-footer-container>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
