<div
     class="container grid grid-cols-1 md:grid-cols-2 justify-between items-center px-4 mx-auto shadow-z3">

     <div class="flex items-center justify-center md:justify-start my-4">

          <p class="font-semibold text-sm text-center">Made with</p>

          <fa-icon [icon]="['fab', 'angular']"
                   size="lg"
                   class="grid place-items-center mx-1 cursor-pointer"
                   style="color: #bd0e2d;"></fa-icon>

          <img src="assets/media/images/tailwindcss.svg"
               alt="Tailwind"
               class="w-6 h-6 mx-1 cursor-pointer">

          <img src="assets/media/images/firebase.svg"
               alt="Firebase"
               class="w-6 h-6 mx-1 cursor-pointer">
     </div>

     <div class="flex items-center justify-center md:justify-end my-4">

          <p class="font-semibold text-sm text-center">By Usama Ansari</p>
          <fa-icon [icon]="['fab', 'github']"
                   size="lg"
                   class="mx-1 cursor-pointer text-black"></fa-icon>
          <fa-icon [icon]="['fab', 'linkedin']"
                   style="color: #0077b7;"
                   size="lg"
                   class="mx-1 cursor-pointer"></fa-icon>
     </div>
</div>
