{
  "singleQuote": false,
  "trailingComma": "none",
  "bracketSpacing": true,
  "useTabs": false,
  "tabWidth": 2,
  "overrides":
    [
      {
        "files": ["*.ts"],
        "options":
          {
            "singleQuote": true,
            "parser": "typescript",
            "semi": true,
            "embeddedLanguageFormatting": "off"
          }
      }
    ]
}
