<div class="ia-navbar-holder">
  <!-- <div class="ia-navbar">
    <div class="ia-navbar-level-holder">
      <div class="ia-navbar-level">
        <div class="ia-navbar-item">
          <div class="ia-navbar-icon-container">
            <div class="ia-navbar-icon">
              <fa-icon></fa-icon>
            </div>
            <div class="ia-navbar-expand-indicator">
              <fa-icon></fa-icon>
            </div>
          </div>
          <div class="ia-navbar-label">
            <span></span>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  <app-ia-navbar [navbar]="navbar$ | async"></app-ia-navbar>
</div>
