<mat-toolbar color="primary"
             class="mat-elevation-z6">
  <mat-toolbar-row class="align-items-stretch flex-column">

    <div class="d-flex justify-content-between h-100">

      <div class="d-flex align-items-center">
        <button mat-icon-button
                (click)="toggleSidenav()">
          <fa-icon [icon]="[assets.trigger.icon.style, assets.trigger.icon.name]"></fa-icon>
        </button>
        <button mat-button
                id="logo-button"
                class="h-100 font-weight-bold rounded-0"
                (click)="navigate(assets.logo.routes)">{{ assets.logo.label }}</button>
      </div>

    </div>

  </mat-toolbar-row>
</mat-toolbar>
