<div class="container flex items-center justify-around h-full py-3 mx-auto">
  <mat-card class="m-2 cursor-pointer">
    <mat-card-content matRipple>
      <div class="grid p-6 pb-2 place-items-center">
        <fa-icon [icon]="[assets.view.icon.style, assets.view.icon.name]"
                 [fixedWidth]="true"
                 class="text-indigo-700 text-8xl"></fa-icon>
        <span class="m-3 text-indigo-700 outline-none focus:outline-none">
          {{ assets.view.text }}
        </span>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card class="m-2 cursor-pointer">
    <mat-card-content matRipple>
      <div class="grid p-6 pb-2 place-items-center">
        <fa-icon [icon]="[assets.create.icon.style, assets.create.icon.name]"
                 [fixedWidth]="true"
                 class="text-indigo-700 text-8xl"></fa-icon>
        <span class="m-3 text-indigo-700 outline-none focus:outline-none">
          {{ assets.create.text }}
        </span>
      </div>
    </mat-card-content>
  </mat-card>
</div>
