<div class="container flex items-center justify-around h-full py-3 mx-auto">
  <mat-card class="m-2 cursor-pointer">
    <mat-card-content matRipple>
      <div class="grid p-6 pb-2 place-items-center">
        <fa-icon [icon]="['fas', 'hiking']"
                 [fixedWidth]="true"
                 class="text-indigo-700 text-8xl"></fa-icon>
        <span class="m-3 text-indigo-700 outline-none focus:outline-none">
          View Trip
        </span>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card class="m-2 cursor-pointer">
    <mat-card-content matRipple>
      <div class="grid p-6 pb-2 place-items-center">
        <fa-icon [icon]="['fas', 'map-marked-alt']"
                 [fixedWidth]="true"
                 class="text-indigo-700 text-8xl"></fa-icon>
        <span class="m-3 text-indigo-700 outline-none focus:outline-none">
          Create Trip
        </span>
      </div>
    </mat-card-content>
  </mat-card>
</div>
