<div class="ia-navbar-container"
     [ngClass]="{ 'ia-navbar-open' : navbar[entityID].state.bIsOpen}">
  <ng-container *ngIf="navbar[entityID].state.bIsOpen; else navbarClosed;">
    <div class="ia-navbar-level-holder mat-app-background">
      <div class="ia-navbar-level">
        <ng-container *ngFor="let singleItem of navbar[entityID].items">
          <div class="ia-navbar-item">
            <div class="ia-navbar-item-icon-holder">
              <div class="ia-navbar-item-icon">
                <fa-icon [icon]="[singleItem.icon.style, singleItem.icon.name]"
                         [size]="singleItem.icon.morph.size"></fa-icon>
              </div>
              <ng-container *ngIf="!!singleItem.children.length">
                <div class="ia-navbar-expandable-icon">
                  <fa-icon [icon]="['fas', 'angle-right']"></fa-icon>
                </div>
              </ng-container>
            </div>
            <div class="ia-navbar-item-label-holder">
              <div class="ia-navbar-item-label">
                <span>{{ singleItem.label }}</span>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
    <div class="ia-navbar-trigger-holder mat-app-background"
         (click)="toggleNavbarState(navbar[entityID])">
      <div class="ia-navbar-trigger mat-app-background mat-elevation-z4">
        <fa-icon
                 [icon]="[navbar[entityID].trigger.close.icon.style, navbar[entityID].trigger.close.icon.name]">
        </fa-icon>
      </div>
    </div>
    <div class="ia-navbar-shadow-holder">
      <div class="ia-navbar-shadow"></div>
    </div>
  </ng-container>

  <ng-template #navbarClosed>
    <div class="ia-navbar-trigger-holder mat-app-background mat-elevation-z4"
         (click)="toggleNavbarState(navbar[entityID])">
      <div class="ia-navbar-trigger mat-app-background mat-elevation-z4">
        <fa-icon
                 [icon]="[navbar[entityID].trigger.open.icon.style, navbar[entityID].trigger.open.icon.name]">
        </fa-icon>
      </div>
    </div>
  </ng-template>
</div>
