<div class="container mx-auto">

  <!-- TODO -->
  <mat-card class="m-3">
    <mat-card-header>
      <mat-card-title>
        <div class="flex items-center">
          <button mat-icon-button
                  class="text-indigo-500 outline-none focus:outline-none">
            <fa-icon [icon]="['fas', 'tasks']"
                     size="lg"></fa-icon>
          </button>
          <p class="m-0 ml-2 text-xl font-bold text-indigo-700 uppercase">To Do List</p>
        </div>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div
           class="flex flex-col divide-x-0 divide-y-2 divide-indigo-500 lg:flex-row lg:divide-y-0 lg:divide-x-2">
        <div class="flex flex-col md:flex-grow">
          <mat-list class="divide-y">
            <p mat-subheader
               class="cursor-default">UX</p>

            <!-- Sidenav -->
            <mat-list-item>
              <button mat-icon-button
                      class="outline-none focus:outline-none"
                      color="primary"
                      mat-list-icon>
                <fa-icon [icon]="['fas', 'compass']"
                         class="flex items-center justify-center"></fa-icon>
              </button>
              <p class="m-0 font-bold text-indigo-700"
                 matLine>Sidenav</p>
            </mat-list-item>

            <mat-list class="pl-8"
                      dense>
              <mat-list-item>User Details</mat-list-item>
              <mat-list-item>Navigation menu</mat-list-item>
              <mat-list-item>Miscellaneous Actions</mat-list-item>
              <mat-list class="pl-8"
                        dense>
                <mat-list-item>Toggle Theme</mat-list-item>
                <mat-list-item>Add shortcuts</mat-list-item>
              </mat-list>
            </mat-list>

            <!-- Theming -->
            <mat-list-item>
              <button mat-icon-button
                      class="outline-none focus:outline-none"
                      color="primary"
                      mat-list-icon>
                <fa-icon [icon]="['fas', 'palette']"
                         class="flex items-center justify-center"></fa-icon>
              </button>
              <p class="m-0 font-bold text-indigo-700"
                 matLine>Theming</p>
            </mat-list-item>

            <mat-list class="pl-8"
                      dense>
              <mat-list-item>Material Colors</mat-list-item>
              <mat-list-item>Dark Theme</mat-list-item>
              <mat-list-item>Typography Issue
                <a class="ml-1 text-blue-500 no-underline hover:underline"
                   href="https://github.com/usama251993/itinerary-assistant/issues/26"
                   target="_blank">#26</a>
              </mat-list-item>
              <mat-list class="pl-8"
                        dense>
                <mat-list-item>Use
                  <span class="ml-1 font-mono text-yellow-500">stash@&#123;0&#125;: Typography
                    Fix</span>
                </mat-list-item>
              </mat-list>
            </mat-list>

            <!-- Footer -->
            <mat-list-item>
              <button mat-icon-button
                      class="outline-none focus:outline-none"
                      color="primary"
                      mat-list-icon>
                <fa-icon [icon]="['fas', 'window-minimize']"
                         class="flex items-center justify-center"></fa-icon>
              </button>
              <p class="m-0 font-bold text-indigo-700"
                 matLine>Footer</p>
            </mat-list-item>

            <mat-list class="pl-8"
                      dense>
              <mat-list-item>Copy data to Clipboard on clicking Discord
                and E-mail</mat-list-item>
              <mat-list-item>Union Type Issue
                <a class="ml-1 text-blue-500 no-underline hover:underline"
                   href="https://github.com/usama251993/itinerary-assistant/issues/25"
                   target="_blank">#25</a>
              </mat-list-item>
              <mat-list class="pl-8"
                        dense>
                <mat-list-item>
                  <a class="mr-1 text-blue-500 no-underline hover:underline"
                     href="https://discord.com/channels/748677963142135818/748806201621479435/851367313545887774">Discord</a>
                  - by HewloThere
                </mat-list-item>
                <mat-list-item>
                  <a class="mr-1 text-blue-500 no-underline hover:underline"
                     href="https://www.typescriptlang.org/docs/handbook/2/narrowing.html">Narrowing</a>
                  on TypeScriptLang
                </mat-list-item>
                <mat-list-item>
                  <a class="mr-1 text-blue-700 no-underline hover:underline"
                     href="https://www.typescriptlang.org/docs/handbook/2/types-from-types.html">Creating
                    Types from Types</a> on TypeScriptLang
                </mat-list-item>
              </mat-list>
              <mat-list-item>Captialize Tooltip Text</mat-list-item>
            </mat-list>
          </mat-list>
        </div>

        <div class="flex flex-col md:flex-grow">
          <mat-list class="divide-y">
            <p mat-subheader
               class="cursor-default">Features</p>

            <!-- Mock Trip -->
            <mat-list-item>
              <button mat-icon-button
                      class="outline-none focus:outline-none"
                      color="primary"
                      mat-list-icon>
                <fa-icon [icon]="['fas', 'suitcase-rolling']"
                         class="flex items-center justify-center"></fa-icon>
              </button>
              <p class="m-0 font-bold text-indigo-700"
                 matLine>Mock Trip</p>
            </mat-list-item>

            <mat-list class="pl-8"
                      dense>
              <mat-list-item>Trip Overview</mat-list-item>
              <mat-list-item>Trip Details</mat-list-item>
              <mat-list class="pl-8"
                        dense>
                <mat-list-item>Day Details</mat-list-item>
                <mat-list-item>Place Details</mat-list-item>
                <mat-list-item>Attractions Details</mat-list-item>
                <mat-list-item>Stay Details</mat-list-item>
                <mat-list-item>Notes</mat-list-item>
              </mat-list>
              <mat-list-item>Accomplices Details</mat-list-item>
              <mat-list class="pl-8"
                        dense>
                <mat-list-item>Personal Details</mat-list-item>
                <mat-list-item>Duration in Trip</mat-list-item>
              </mat-list>
              <mat-list-item>Transit Details</mat-list-item>
              <mat-list class="pl-8"
                        dense>
                <mat-list-item>Start</mat-list-item>
                <mat-list-item>End</mat-list-item>
                <mat-list-item>Inter</mat-list-item>
              </mat-list>
            </mat-list>

            <!-- Edit Trip -->
            <mat-list-item>
              <button mat-icon-button
                      class="outline-none focus:outline-none"
                      color="primary"
                      mat-list-icon>
                <fa-icon [icon]="['fas', 'edit']"
                         class="flex items-center justify-center"></fa-icon>
              </button>
              <p class="m-0 font-bold text-indigo-700"
                 matLine>Edit Trip</p>
            </mat-list-item>

            <mat-list class="pl-8"
                      dense>
              <mat-list-item>Inline Edit</mat-list-item>
              <mat-list-item>Dedicated Edit</mat-list-item>
            </mat-list>
          </mat-list>

        </div>

        <div class="flex flex-col md:flex-grow">
          <mat-list class="divide-y">
            <p mat-subheader
               class="cursor-default">Miscellaneous</p>

            <!-- Testing -->
            <mat-list-item>
              <button mat-icon-button
                      class="outline-none focus:outline-none"
                      color="primary"
                      mat-list-icon>
                <fa-icon [icon]="['fas', 'vial']"
                         class="flex items-center justify-center"></fa-icon>
              </button>
              <p class="m-0 font-bold text-indigo-700"
                 matLine>Testing</p>
            </mat-list-item>

            <mat-list class="pl-8"
                      dense>
              <mat-list-item>Unit Testing</mat-list-item>
              <mat-list-item>End to End Testing</mat-list-item>
            </mat-list>

            <!-- Feedback -->
            <mat-list-item>
              <button mat-icon-button
                      class="outline-none focus:outline-none"
                      color="primary"
                      mat-list-icon>
                <fa-icon [icon]="['fas', 'comments']"
                         class="flex items-center justify-center"></fa-icon>
              </button>
              <p class="m-0 font-bold text-indigo-700"
                 matLine>Feedback</p>
            </mat-list-item>

            <mat-list class="pl-8"
                      dense>
              <mat-list-item>Feedback Form</mat-list-item>
              <mat-list class="pl-8"
                        dense>
                <mat-list-item>User Details</mat-list-item>
                <mat-list-item>Suggestions</mat-list-item>
                <mat-list-item>Rating</mat-list-item>
              </mat-list>
            </mat-list>

            <!-- Documentation -->
            <mat-list-item>
              <button mat-icon-button
                      class="outline-none focus:outline-none"
                      color="primary"
                      mat-list-icon>
                <fa-icon [icon]="['fas', 'file-alt']"
                         class="flex items-center justify-center"></fa-icon>
              </button>
              <p class="m-0 font-bold text-indigo-700"
                 matLine>Code Documentation</p>
            </mat-list-item>

            <mat-list class="pl-8"
                      dense>
              <mat-list-item>Interfaces</mat-list-item>
              <mat-list-item>Types</mat-list-item>
              <mat-list-item>Classes</mat-list-item>
              <mat-list-item>Methods</mat-list-item>
              <mat-list-item>Functions</mat-list-item>
              <mat-list-item>Constants</mat-list-item>
            </mat-list>

            <!-- Logging -->
            <mat-list-item>
              <button mat-icon-button
                      class="outline-none focus:outline-none"
                      color="primary"
                      mat-list-icon>
                <fa-icon [icon]="['fas', 'lightbulb']"
                         class="flex items-center justify-center"></fa-icon>
              </button>
              <p class="m-0 font-bold text-indigo-700"
                 matLine>Lumberjack Logging</p>
            </mat-list-item>

            <mat-list class="pl-8"
                      dense>
              <mat-list-item>Basic Setup and Configuration
                <a class="ml-1 text-blue-500 no-underline hover:underline"
                   href="https://github.com/usama251993/itinerary-assistant/issues/27">#27</a>
              </mat-list-item>
            </mat-list>

            <!-- CDK -->
            <mat-list-item>
              <button mat-icon-button
                      class="outline-none focus:outline-none"
                      color="primary"
                      mat-list-icon>
                <fa-icon [icon]="['fas', 'code']"
                         class="flex items-center justify-center"></fa-icon>
              </button>
              <p class="m-0 font-bold text-indigo-700"
                 matLine>CDK</p>
            </mat-list-item>

            <mat-list class="pl-8"
                      dense>
              <mat-list-item>Clipboard
                <a class="ml-1 text-blue-500 no-underline hover:underline"
                   href="https://github.com/usama251993/itinerary-assistant/issues/28">#28</a>
              </mat-list-item>
            </mat-list>
          </mat-list>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

</div>
