<div class="container mx-auto">

  <!-- TODO -->
  <mat-card class="m-3">
    <mat-card-header>
      <mat-card-title>
        <div class="flex items-center">
          <button mat-icon-button
                  class="outline-none focus:outline-none"
                  color="primary">
            <fa-icon [icon]="['fas', 'tasks']"
                     size="lg"></fa-icon>
          </button>
          <p class="m-0 ml-2">To Do List</p>
        </div>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="flex">
        <div class="flex flex-col flex-grow">
          <!-- Sidenav -->
          <mat-card class="m-3">
            <mat-card-content>
              <div class="flex items-center">
                <button mat-icon-button
                        class="outline-none focus:outline-none"
                        color="primary">
                  <fa-icon [icon]="['fas', 'compass']"
                           size="lg"></fa-icon>
                </button>
                <p class="m-0 ml-2">Sidenav</p>
              </div>
            </mat-card-content>
          </mat-card>

          <!-- Footer -->
          <mat-card class="m-3">
            <mat-card-content>
              <div class="flex items-center">
                <button mat-icon-button
                        class="outline-none focus:outline-none"
                        color="primary">
                  <fa-icon [icon]="['fas', 'socks']"
                           size="lg"></fa-icon>
                </button>
                <p class="m-0 ml-2">Footer</p>
              </div>
            </mat-card-content>
          </mat-card>

          <!-- Center Icons -->
          <mat-card class="m-3">
            <mat-card-content>
              <div class="flex items-center">
                <button mat-icon-button
                        class="outline-none focus:outline-none"
                        color="primary">
                  <fa-icon [icon]="['fas', 'align-center']"
                           size="lg"></fa-icon>
                </button>
                <p class="m-0 ml-2">Center Icon Classes</p>
              </div>
            </mat-card-content>
          </mat-card>

          <!-- Optimize Bootstrap -->
          <mat-card class="m-3">
            <mat-card-content>
              <div class="flex items-center">
                <button mat-icon-button
                        class="outline-none focus:outline-none"
                        color="primary">
                  <fa-icon [icon]="['fas', 'bolt']"
                           size="lg"></fa-icon>
                </button>
                <p class="m-0 ml-2">Optimize Bootstrap</p>
              </div>
            </mat-card-content>
          </mat-card>

          <!-- Deploy -->
          <mat-card class="m-3">
            <mat-card-content>
              <div class="flex items-center">
                <button mat-icon-button
                        class="outline-none focus:outline-none"
                        color="primary">
                  <fa-icon [icon]="['fas', 'rocket']"
                           size="lg"></fa-icon>
                </button>
                <p class="m-0 ml-2">Deploy on Firebase</p>
              </div>
            </mat-card-content>
          </mat-card>
        </div>

        <div class="flex flex-col flex-grow">
          <!-- Mock Trip -->
          <mat-card class="m-3">
            <mat-card-content>
              <div class="flex items-center">
                <button mat-icon-button
                        class="outline-none focus:outline-none"
                        color="primary">
                  <fa-icon [icon]="['fas', 'suitcase-rolling']"
                           size="lg"></fa-icon>
                </button>
                <p class="m-0 ml-2">Mock Trip</p>
              </div>
            </mat-card-content>
          </mat-card>

          <!-- Edit Trip -->
          <mat-card class="m-3">
            <mat-card-content>
              <div class="flex items-center">
                <button mat-icon-button
                        class="outline-none focus:outline-none"
                        color="primary">
                  <fa-icon [icon]="['fas', 'edit']"
                           size="lg"></fa-icon>
                </button>
                <p class="m-0 ml-2">Edit Trip</p>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </mat-card-content>
  </mat-card>



</div>
